<h2>Edit <%= @user.email %></h2>

<%= form_with(model: @user, local: true) do |form| %>
  <% if @user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@user.errors.count, "error") %> prohibited this user from being saved:</h2>

      <ul>
      <% @user.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :email %>
    <%= form.text_field :email, id: :email %>
  </div>

  <div class="field">
      <%= check_box("user", "admin?") %>
      <%= Role::ADMIN %>
      <br />
      <%= check_box("user", "uploader?") %>
      <%= Role::UPLOADER %>
      <br />
      <%= check_box("user", "image_viewer?") %>
      <%= Role::IMAGE_VIEWER %>
  </div>

  <div class="actions">
    <%= form.submit class: 'btn btn-primary' %>
    <%= link_to 'Back', users_path, class: 'btn btn-secondary' %>
  </div>
<% end %>