<h2>
  Injuries
</h2>

<div class="grid">
  <div class="row">
    <div class="col-xs-12">
      <% if current_user.uploader? %>
        <%= link_to 'New Injury Record', new_patient_path, class: 'btn btn-primary pull-right' %>
      <% end %>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-1">
      ID
    </div>
    <div class="col-xs-8">
      <% if current_user.uploader? %>
        Patient Name
      <% end %>
    </div>
  </div>
  <% @patients.each do |patient| %>
    <div class="row grid-row">
      <div class="col-xs-1 grid-link">
        <%= link_to patient.id, "/patients/#{patient.id}/mri_images" %>
      </div>
      <div class="col-xs-8">
        <% if current_user.admin? || current_user.uploader? %>
          <%= patient.name %>
        <% end %>
      </div>
      <div class="col-xs-3 text-right">
        <%= link_to edit_patient_path(patient) do %>
          <i class="glyphicon glyphicon-edit"></i>
        <% end %>
        <% if current_user.admin? %>
          <%= link_to patient, method: :delete, data: { confirm: "Are you sure you want to delete #{patient.name}?" } do %>
            <i class="glyphicon glyphicon-trash"></i>
          <% end %>
        <% end %>
      </div>
    </div>
  <% end %>
</div>
