<!DOCTYPE html>
<html>
  <head>
    <title>GravyBoat</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <script src="https://sdk.amazonaws.com/js/aws-sdk-2.149.0.min.js"></script>
  </head>

  <body>
    <div class="header-menu">
      <div class="container">
        <% if logged_in? %>
          <a href="/patients">Injuries</a>
          <% if current_user.admin? %>
            <a href="/users">Users</a>
          <% end %>
          <a href="/logout" class="logout-link pull-right">Logout</a>
        <% end %>
      </div>
    </div>
    <div class="container main-container">
      <% flash.each do |name, msg| %>
        <%- css_class = name == 'alert' ? 'alert alert-danger' : 'alert alert-success' %>
        <div role='alert' class='<%=css_class %>'>
          <%= msg %>
        </div>
      <% end %>
      <%= yield %>
  </div>
  </body>
</html>
